
.header-wraper {
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.container1 {
	max-width: 1170px;
	width: 100%;
	margin:0 auto;
	background-color:
	
}
.nav-ul {
	display: flex;
}
.nav-li {
	margin-right: 30px;
}
.nav-a {
	color: ;
}
.fb-icon::after {
	content: ' ';
 	width: 1px;
 	height: 27px;
 	background-color: #363E97;
 	display: inline-block;
 	margin-left: 15px;
 	margin-right: 15px;
}
.social-icons {
	display: flex;
}





   	  
 
.banner { 
	max-width: 800px;
	width: 100%
	margin-left: 280px;
    margin-top: 60px;
    margin-bottom: 30px;
 }
.images-wraper {
	position: relative;
}
.text-image {
	position: absolute;
	top:100px;
	left:930px;
	padding-top: 220px;

	
	
}






/*flex examples*/
.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	background-color: #363E97;
	height: 400px;
		

	
}
.left-block {
	max-width: 570px;
	width: 100%;
    /*height: 320px;*/
	background-color: lightblue;
	margin-right: 30px;

	
}
.video-youtube {
	width: 100%;
	height: 100%;
}
.right-block {
	max-width: 570px;
	width: 100%;
	/*height: 320px*/;
	background-color: #F2F2F2;
	display: flex;
	justify-content: center;
	align-items: center;

}
.video-wraper {
	display: flex;
	flex-wrap: wrap;

}

.video {
	padding-bottom: 15px;
	padding-top: 15px;
}

/*section2*/
.container2 {
 max-width: 1170px;
 width: 100%
  height: 300px;
	margin: 0 auto;
	background-color: #BDCCD4;
	display: flex; 
	justify-content: space-around;
	flex-wrap: wrap;

   }

.first-block {
	width: 270px;
	padding-top: 40px;


}

.second-block {
	width: 270px;
    padding-top: 40px; }

.third-block{
	width: 270px;
    padding-top: 40px;
}
 
.fourth-block {
	width: 270px;
	padding-top: 40px;
}

/*section3*/
.left-article {
	width: 500px;
	background-color: #F2F2F2;
	margin-right: 40px;
	margin-top: 50px;
}
.right-article {
	width: 500px;
	background-color: #F2F2F2;
	margin-right: 80px;
	margin-top: 50px;


}
.article-wraper {
	display: flex;
	justify-content: space-around;
}
.image-block {
	display: flex;
	justify-content: space-around;
    	align-items: center;
}
.text {
	width: 355px;
}
.read {
	display: flex;
	justify-content: flex-end;
	margin-right: 10px;
}
.box {
	
 max-width: 1170px;
 width: 100%;
/*height: 270px;*/
	margin: 0 auto;
	background-color: #E6E6E6;
	display: flex; 
	justify-content: space-around;


}


}
.title {
	padding-left: 50px;
}

